/*Estilos generales*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: rgb(214, 207, 207);
    color: black;
}

.grandiente {
    background-image: linear-gradient(to bottom right,
     blue 0%, violet 60%);
}

h1 {
    width: 100px;
    height: 100px;
    transition: height 1s, width 10s, font-size 3s;
    font-size: 20px;
}

h1:hover {
    width: 200px;
    height: 200px;
    font-size: 60px;
}

/*Git*/

